<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
  <div class="summary">
    <p>Deep Learning Architect, programmer by heart for 25 years</p>
    <p>Full Stack Architect with Fourteen years of team building, management and vivid technical experience in High Performance Computing, Artificial Intelligence, Machine Learning,Deep Learning, Computer Vision, Natural Language Processing ; large-scale eCommerce Data Centres; Mobile Application Development (Android, iOS, Windows BREW); Application Development (Windows, Mac, Linux); Embedded Systems Programming;</p>
  </div>
</section>
