<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Chief Technology Officer</h3>
        <div class="time">2015 - Present</div>
      </div>
      <!--//upper-row-->
      <div class="company">8Minutes</div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>Bringing the latest and greatest of computing (i.e. High Performance Computing, Deep Learning) to the solar energy sector.</p>
      <p>CUDA / OpenCL, OpenCV, OpenMP, OpenVX, CUDNN, Caffe, CNTK, Torch and Tensorflow are used to solve the day to day problems in clean energy sector.  </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->
</section>
<!--//section-->
